h1 {
    color: blue;

}
h4{
    color:brown;

}
h2{
    color:rgb(163, 29, 107);
    
}
.fondo-negro{
    background-color: black;

    {.color-fot {
    background-color: rgb(49, 94, 153);
    color: rgb(255,255,204);
  }

