h1 {
    color: blue;

}
h4{
    color:brown;

}
h2{
    color:rgb(163, 29, 107);
    
}


  .portada{
    font-size: 1rem;
    text-align: center;
    font-family: "Lato", sans-serif;
    color: black;
  }
  